*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(320px, 1fr));
    max-width: 1200px; 
    margin: 0 auto;
    gap: 30px;
}

.grid div{
    background-color: violet;
    min-height: 100px;
}

.grid div:nth-child(5){
    background-color: blue;
    grid-column: span 2;   
    grid-row: span 3;         
    
}